<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    <section class="footer">
    <footer>
        <span class="footer__copyright">友链: <a href="https://blog.glumi.cn">陈陈菌</a>、<a href="https://blog.llozi.top">llozi</a>，希望其他人也加入我的友链哦～</span>
    </footer>
  </body>

</html>
